

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.overlay {
    fill: none;
    pointer-events: all;
}